<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
      <button type="button" (click)="getStopIds()">Megállók</button>
      <p>{{stopsReadyCount}}/{{routeIds.length}}</p>
      <p *ngFor="let ids of stopIds">{{ids}}</p>
      
  </div>
  <div>
      <button type="button" (click)="getDistinctIds()">Egyedi</button>
      <p>Egyedi: {{distinctStopIds.length}} {{distinctStopIds}}</p>
  </div>
  <button type="button">Stoplekérés</button>
  <button type="button"></button>
  <div>{{retVal | json }}</div>
</div>


